{{#> layout title='Add Feedback' }}
<div class="container">
      <div class="holder">
        <div class="title">
          <h2>Add Feedback</h2>
        </div>
        <div class="login">
          <form action="login" method="post">
            <input type="email" placeholder="Email" name="email" id="email" />
            <input type="text" placeholder="Name" name="name" id="name" />
            <input type="file" name="file" id="file">
            <textarea name="comment" id="comment" cols="40" rows="10"></textarea>
            <input type="submit" value="Save" />
          </form>
        </div>
      </div>
    </div>
{{/layout}}
