{{#> layout title='Dashboard' }}
<div class="feedback-container">
      <div class="action-holder">
        <a id="add-feedback-button" href="">Add New</a>
      </div>
          {{#each reviews}}
      <div class="card-holder">
        <div class="card">
          <p>Doni Abeje</p>
          <p>Doni@gmail.com</p>
          <p>
            This is my Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Doloremque enim quaerat repellat, quam non exercitationem quisquam
            cum harum assumenda itaque distinctio voluptates eius nemo, fuga quo
            qui ipsam. Et, veritatis.
          </p>
          <div class="action-holder">
            <a id="add-feedback-button" href="">Edit</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
{{/layout}}
