{{#> layout title='Login' }}
<div class="container">
      <div class="holder">
        <div class="title">
          <h2>Login</h2>
        </div>
        <div class="login">
          <form action="login" method="post">
            <input type="email" placeholder="Email" name="email" id="email" />
            <input type="password" placeholder="Password" name="password" id="password" />
            <input type="submit" value="Login" />
            <p>Don't have an account? <a href="/register">SignUp</a></p>
          </form>
        </div>
      </div>
    </div>
{{/layout}}