{{#> layout title='Register' }}
<div class="container">
      <div class="holder">
        <div class="title">
          <h2>Register</h2>
        </div>
        <div class="login">
          <form action="login" method="post">
            <input type="email" placeholder="Email" name="email" id="email" />
            <input type="password" placeholder="Password" name="password" id="password" />
            <input type="submit" value="Register" />
            <p>Already have an account? <a href="login.html">Login</a></p>
          </form>
        </div>
      </div>
    </div>
{{/layout}}
