{{#> layout title='Dashboard' }}
    <div class="feedback-container">
      <div class="action-holder">
        <H2>Users List</H2>
      </div>
      {{#each users}}
      <div class="card-holder">
        <div class="card">
          <p>{{this.name}}</p>
          <p>{{this.email}}</p>
          <div class="action-holder">
            <a id="add-feedback-button" href="">Disable</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
{{/layout}}
